.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}


.mainDiv {
  border: 2px solid rgb(109, 1, 250);
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  background-color: aquamarine;
  height: 590px;
  
}

.image{
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}



